$green: #0ac959;
$dark-blue: #002bff;
$blue: #125ccc;
$blue-gray: #2c5478;
$dark-gray: rgb(80, 80, 80);
$gray: #ccc;
$light-gray: #c3c3c3;
$white: #fff;
$black: #000;

$font: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";